body{
margin:0;
font-family: Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

.para{
    color: black;
}

/* BLUE PINK BACKGROUND */
.gradient-bg{
background: linear-gradient(135deg,#ff9acb,#9ecbff);
}

/* LOVE PAGE BACKGROUND IMAGE + GRADIENT */
.love-bg{
background:
linear-gradient(rgba(255,150,200,0.3), rgba(150,200,255,0.3)),
url("bg.jpeg");

background-size: cover;
background-position: center;
}


/* CARDS */
.card, .love-card{

background: rgba(255,255,255,0.15); /* more transparent */

backdrop-filter: blur(0.5px); /* less blur */
-webkit-backdrop-filter: blur(6px);

padding:40px;
border-radius:25px;

box-shadow:0 10px 40px rgba(0,0,0,0.2);

text-align:center;
max-width:600px;

border:1px solid rgba(255,255,255,0.3);
}



/* BUTTONS */
button{
padding:15px 25px;
margin:10px;
border:none;
border-radius:30px;
font-size:18px;
cursor:pointer;
}

#yes{
background:#ff4da6;
color:white;
}

#no{
background:#777;
color:white;
}

/* FLOATING HEARTS */
.hearts::before{
content:"❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";
position:absolute;
top:-50px;
width:100%;
animation: fall 12s linear infinite;
opacity:0.6;
}

@keyframes fall{
0%{transform:translateY(-50px);}
100%{transform:translateY(110vh);}
}

/* FADE EFFECT */
.fade{
animation: fadeIn 1s ease;
}

@keyframes fadeIn{
from{opacity:0; transform:scale(0.9);}
to{opacity:1; transform:scale(1);}
}
@media(max-width:600px){

.love-card{
padding:25px;
backdrop-filter: blur(0.5px); /* even less blur on phone */
}

}

